{% extends 'base/base.html' %}
{% load static %}
{% block title %}Lorem Ipsum - Home{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="navbar-nav">{% static
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                               data-toggle="dropdown">Dropdown link</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another
                                action</a> <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider">
                                </div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="text">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">
                            Search
                        </button>
                    </form>
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                               data-toggle="dropdown">Dropdown link</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another
                                action</a> <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider">
                                </div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="jumbotron">
                    <h2>
                        Site feito no curso de Django do Python Pro!
                    </h2>
                    <h4 class="mt-4">Entre na fila de espera</h4>

                    {#                <form action="https://dev.us10.list-manage.com/subscribe/post?u=86989bc8076b1671a1d905901&amp;id=8d2d57e01f"#}
                    {#                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"#}
                    {#                      class="form-row align-items-center" target="_blank" novalidate>#}
                    {#                    <div class="form-row align-items-center">#}
                    {#                        <div class="col-auto">#}
                    {#                            <label class="sr-only" for="mce-EMAIL">Email</label>#}
                    {#                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"#}
                    {#                                   placeholder="exemplo@email.com">#}
                    {#                        </div>#}
                    {#                        <div class="col-auto">#}
                    {#                            <label class="sr-only" for="mce-FNAME">Nome</label>#}
                    {#                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"#}
                    {#                                   placeholder="Seu nome">#}
                    {#                        </div>#}
                    {#                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->#}
                    {#                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"#}
                    {#                                                                                                  name="b_86989bc8076b1671a1d905901_8d2d57e01f"#}
                    {#                                                                                                  tabindex="-1"#}
                    {#                                                                                                  value=""></div>#}
                    {#                        <div class="col-auto">#}
                    {#                            <input type="submit" value="Enviar" name="subscribe"#}
                    {#                                   id="mc-embedded-subscribe" class="btn btn-primary">#}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#bs-example-navbar-collapse-1">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="navbar-nav">{% static
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="http://example.com"
                                               id="navbarDropdownMenuLink"
                                               data-toggle="dropdown">Dropdown link</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item"
                                                                                                href="#">Another
                                                action</a> <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider">
                                                </div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </li>
                                    </ul>
                                    <form class="form-inline">
                                        <input class="form-control mr-sm-2" type="text">
                                        <button class="btn btn-primary my-2 my-sm-0" type="submit">
                                            Search
                                        </button>
                                    </form>
                                    <ul class="navbar-nav ml-md-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="http://example.com"
                                               id="navbarDropdownMenuLink"
                                               data-toggle="dropdown">Dropdown link</a>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item"
                                                                                                href="#">Another
                                                action</a> <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider">
                                                </div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="jumbotron">
                                    <h2>
                                        Site feito no curso de Django do Python Pro!
                                    </h2>
                                    <h4 class="mt-4">Entre na fila de espera</h4>

                                    {#                <form action="https://dev.us10.list-manage.com/subscribe/post?u=86989bc8076b1671a1d905901&amp;id=8d2d57e01f"#}
                                    {#                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"#}
                                    {#                      class="form-row align-items-center" target="_blank" novalidate>#}
                                    {#                    <div class="form-row align-items-center">#}
                                    {#                        <div class="col-auto">#}
                                    {#                            <label class="sr-only" for="mce-EMAIL">Email</label>#}
                                    {#                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"#}
                                    {#                                   placeholder="exemplo@email.com">#}
                                    {#                        </div>#}
                                    {#                        <div class="col-auto">#}
                                    {#                            <label class="sr-only" for="mce-FNAME">Nome</label>#}
                                    {#                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"#}
                                    {#                                   placeholder="Seu nome">#}
                                    {#                        </div>#}
                                    {#                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->#}
                                    {#                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"#}
                                    {#                                                                                                  name="b_86989bc8076b1671a1d905901_8d2d57e01f"#}
                                    {#                                                                                                  tabindex="-1"#}
                                    {#                                                                                                  value=""></div>#}
                                    {#                        <div class="col-auto">#}
                                    {#                            <input type="submit" value="Enviar" name="subscribe"#}
                                    {#                                   id="mc-embedded-subscribe" class="btn btn-primary">#}
                                    {#                        </div>#}
                                    {#                    </div>#}
                                    {#                </form>#}
                                    <p>
                                        Logo teremos mais detalhes do curso.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra
                                        nec lorem eu
                                        fringilla. Etiam et feugiat tortor, vel fermentum dui. Proin consectetur finibus
                                        felis, ac pretium
                                        mauris vestibulum eu. Aliquam ut metus sem. In orci velit, pretium tincidunt
                                        tempor a, commodo ac
                                        ex. Etiam quis lectus nec lacus maximus varius. Nulla facilisi. Nam auctor
                                        faucibus justo, in
                                        venenatis elit egestas a. Vivamus ipsum metus, maximus id dictum vel, iaculis
                                        sit amet purus. Aenean
                                        tincidunt diam nulla, molestie bibendum tellus aliquet tempor. Maecenas
                                        ultricies dictum nisl a
                                        vestibulum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <h5 class="card-header">
                                        Mais detalhes sobre o Lorem ipsum
                                    </h5>
                                    <div class="card-body">
                                        <p class="card-text">
                                            <img src="{% static 'img/loremipsum.png' %}" alt="lorem ipsum"
                                                 class="img-thumbnail float-left mr-3"/>

                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                                            pharetra nec lorem eu
                                            fringilla. Etiam et feugiat tortor, vel fermentum dui. Proin consectetur
                                            finibus felis, ac
                                            pretium
                                            mauris vestibulum eu. Aliquam ut metus sem. In orci velit, pretium tincidunt
                                            tempor a, commodo
                                            ac
                                            ex. Etiam quis lectus nec lacus maximus varius. Nulla facilisi. Nam auctor
                                            faucibus justo, in
                                            venenatis elit egestas a. Vivamus ipsum metus, maximus id dictum vel,
                                            iaculis sit amet purus.
                                            Aenean
                                            tincidunt diam nulla, molestie bibendum tellus aliquet tempor. Maecenas
                                            ultricies dictum nisl a
                                            vestibulum.

                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        Lorem ipsum
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                </form>#}
                    <p>
                        Logo teremos mais detalhes do curso.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra nec lorem eu
                        fringilla. Etiam et feugiat tortor, vel fermentum dui. Proin consectetur finibus felis, ac
                        pretium
                        mauris vestibulum eu. Aliquam ut metus sem. In orci velit, pretium tincidunt tempor a, commodo
                        ac
                        ex. Etiam quis lectus nec lacus maximus varius. Nulla facilisi. Nam auctor faucibus justo, in
                        venenatis elit egestas a. Vivamus ipsum metus, maximus id dictum vel, iaculis sit amet purus.
                        Aenean
                        tincidunt diam nulla, molestie bibendum tellus aliquet tempor. Maecenas ultricies dictum nisl a
                        vestibulum.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">
                        Mais detalhes sobre o Lorem ipsum
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <img src="{% static 'img/loremipsum.png' %}" alt="lorem ipsum"
                                 class="img-thumbnail float-left mr-3"/>

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra nec lorem eu
                            fringilla. Etiam et feugiat tortor, vel fermentum dui. Proin consectetur finibus felis, ac
                            pretium
                            mauris vestibulum eu. Aliquam ut metus sem. In orci velit, pretium tincidunt tempor a,
                            commodo
                            ac
                            ex. Etiam quis lectus nec lacus maximus varius. Nulla facilisi. Nam auctor faucibus justo,
                            in
                            venenatis elit egestas a. Vivamus ipsum metus, maximus id dictum vel, iaculis sit amet
                            purus.
                            Aenean
                            tincidunt diam nulla, molestie bibendum tellus aliquet tempor. Maecenas ultricies dictum
                            nisl a
                            vestibulum.

                        </p>
                    </div>
                    <div class="card-footer">
                        Lorem ipsum
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}